### new ignore in fork
test*.py
*.json
my_stuff/
config.ini

### previous gitignore
# Linkedin-api
**tmp/
.env

# Dev
*.pyc
.vscode
/playground.py
cookies/

.pytest_cache
**__pycache__/
credentials.json

# PyPI
dist
build
*.egg-info

# Misc
.DS_Store
.idea/
venv/
